# Server
GATEWAY_PORT=8787
STELLAR_NETWORK=stellar:testnet

# Stellar account keys
FUNDER_SECRET=
RECIPIENT_SECRET=
RECIPIENT_PUBLIC=

# MPP Session channel
CHANNEL_CONTRACT=
COMMITMENT_SECRET=
COMMITMENT_PUBLIC=

# Settlement asset
# Native XLM SAC on testnet in the current POC.
TOKEN_XLM_SAC=
